<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h3> Student Roll No: {{ stud.roll }}</h3>
    <h3> Student Name: {{ stud.name }}</h3>
    <h4> Student email: {{ stud.email }}</h4>
    <h4> Student mobile: {{ stud.mobile }}</h4>
    <h4> Student city: {{ stud.city }}</h4>
    <h4> Student marks : {{ stud.marks }}</h4>
    <hr>
    <h2> Department Details</h2>
    <h4> Department Name: {{ stud.department.name }}</h4>
    <h4> Department HOD: {{ stud.department.hod }}</h4>

    <a href="/edit/{{ stud.roll }}"><button>edit</button></a>
    <a href="/deletestudent"><button>delete</button></a>


</body>
</html>